/* .App {
  background-color: #f4f4f2;
} */

/* Nav Bar */
.navbar-brand {
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 2.5rem;
}

.nav-item {
  color: #bbbfca;
  margin: 10px;
  /* padding: 0 18px; */
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

/* Inside the components */

/* opencalls component */
.headers {
  color: #373a40;
  font-family: "Montserrat-Black", sans-serif;
  font-weight: bold;
  line-height: 1.5;
}
/* galleries names */
.gallery-id {
  color: #944e6c;
}

/* open calls display */
.container-fluid {
  padding: 3%;
}

.opencalls-links {
  color: #495464;
}

.opencall-display {
  padding: 3% 2%;
  text-align: center;
}

/* gallery component */
.gallery-info {
  font-family: "Ubuntu Condensed", sans-serif;
  padding: 4%;
}

.gallery-name {
  color: #790c5a;
  font-size: 3em;
}

.gallery-location {
  color: #686d76;
}

.gallery-display {
  padding: 4%;
}

#gallery-oc-header {
  color: #373a40;
  font-family: "Montserrat-Black", sans-serif;
  font-weight: bold;
  padding-top: 3%;
}

.change-images-container {
  height: 300px;
  width: 400px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  border-radius: 7%;
}

/* galleries component */
.gal-name {
  color: #944e6c;
  font-family: "Ubuntu Condensed", sans-serif;
}

.gal-location {
  color: #686d76;
  font-family: "Ubuntu Condensed", sans-serif;
}

/* candidats application component */
.residency-name {
  color: #790c5a;
  font-size: 3em;
  font-family: "Ubuntu Condensed", sans-serif;
}

.app-gallery-name {
  font-family: "Ubuntu Condensed", sans-serif;
}

.residency-desc {
  font-family: "Montserrat-black", sans-serif;
  font-size: 1.3rem;
  padding: 10%;
}

/* admin component */
.admin-residency-desc {
  margin-left: 10%;
  margin-top: 5%;
  font-family: "Montserrat-black", sans-serif;
  font-size: 1.5rem;
}

.admin-fullname {
  color: #373a40;
  font-family: "Montserrat-Black", sans-serif;
}

.total-candidats {
  color: #373a40;
  font-family: "Montserrat-Black", sans-serif;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 5%;
}

/* home component  */
#home-image {
  max-width: 700px;
  max-height: 800px;
  width: auto;
  height: auto;
  border-radius: 1%;
}

#home-heading {
  font-family: "Josefin Sans", sans-serif;
  color: #373a40;
  /* color: white; */
  margin-top: 10%;
  font-size: 3.5rem;
}

.home-container {
  padding: 3% 8%;
  margin-top: 5%;
}
